---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout title="About | Jenish Baral" cononical="https://jenish-baral-github-io.pages.dev/about" >
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> Get to know Me </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    <a href="https://instagram.com/jenish__baral" target="_blank" class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200">
                      I’m Jenish Baral,
                    </a>
                    <br>
                    <a href="https://www.youtube.com/@J_e_n_i_s_h" target="_blank" class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200">
                         A small content creator on YouTube
                    </a>
                    and a passionate gamer. 
                   <br> 
                    I completed my +2 studies at Orbit College. My main skills are video editing and gaming. I enjoy creating engaging and entertaining content for my audience while continuously improving my creative and technical abilities.
               </p>
          </div>

     </div>
</InfoLayout>
